@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500|Trirong:300,500,700&subset=latin-ext);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background-color: transparent
}

a:active, a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], html input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}

*, :before, :after {
  box-sizing: border-box
}

:focus {
  outline: 0
}


html {
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300
}

main {
  overflow: hidden;
  position: relative;
  z-index: 1
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2
}

h1, h2, h3, h4, p {
  margin-bottom: 0
}

h1, h2, h3, h4 {
  font-family: Trirong, serif;
  font-weight: 300
}

h1 {
  line-height: 1.2;
  letter-spacing: .03em;
  margin-top: 0
}

h1 u {
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 0
}

h1 u:after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: .175em;
  background: #20252e;
  z-index: -1
}

h1 + p {
  margin-top: 2.7rem
}

h2 {
  margin-top: 0;
  font-size: 1.75rem;
  line-height: 1.25;
  letter-spacing: .03em
}

h3 {
  margin-top: 0;
  font-size: 1.625rem;
  letter-spacing: .035em
}

h4 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  letter-spacing: .03em
}

p {
  line-height: 1.65;
  letter-spacing: .05em;
  font-size: 1.125rem
}

p strong {
  font-weight: 500
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.75em
  }
  h2 {
    font-size: 2rem
  }
  p {
    letter-spacing: 0
  }
}

@media (min-width: 1024px) and (max-width: 1679px) {
  h1 {
    font-size: 3rem
  }
  h1 + p {
    margin-top: 2rem
  }
  h2 {
    font-size: 1.75rem
  }
}

@media (min-width: 1680px) {
  h1 + p {
    margin-top: 2.7rem
  }
}