
<section class="s-5 u-landing-section landed">

  <div class="container u-landing landed">
    <div class="row">
      <div class="col">
        <h2>What we do the best<span class="u-c-primary">.</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="m-ico-list-item u-delay-2">
                        <span class="a-ico">
                            <img src="../../../assets/image/tools.svg" alt="tools icon">
                        </span>
          <span class="text">Design a Branding <sup>1</sup></span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="m-ico-list-item u-delay-3">
                        <span class="a-ico">
                            <img src="../../../assets/image/payment.svg" alt="payment method icon">
                        </span>
          <span class="text">Mobile Apps <sup>2</sup></span>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="m-ico-list-item u-delay-4">
                        <span class="a-ico">
                            <img src="../../../assets/image/screen.svg" alt="screen icon">
                        </span>
          <span class="text">Frontend / Backend development <sup>3</sup></span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="m-ico-list-item u-delay-5">
                        <span class="a-ico">
                            <img src="../../../assets/image/drawing.svg" alt="drawing icon">
                        </span>
          <span class="text">Long-term technical support and administration <sup>4</sup></span>
        </div>
      </div>
    </div>
  </div>
  <div class="a-bg-circle"></div>
</section>