<footer id="contact">
  <div class="o-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 col-xxl-4 offset-xxl-4 content">
          <div>
                        <span class="a-logo">
                            <img class="img" src="../assets/image/logo.svg">
                        </span>
            <h4>Get in touch</h4>
            <div class="a-contact main">
              <a class="link" href="mailto:hey@va-fighters.com">hey@va-fighters<span class="u-c-primary">.</span>com</a>
            </div>
          </div>

          <div class="contacts">
            <div class="row">
              <div class="col-md-6">
                <div class="a-contact">
                  <div class="label">Phone number 1</div>
                  <a class="link" href="tel:00420776053879">+420 776 053 879</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="a-contact">
                  <div class="label">Phone number 2</div>
                  <a class="link" href="tel:00420608145433">+420 608 145 433</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="a-contact">
                  <div class="label">ID number</div>
                  <span class="link">036 82 234</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="a-contact">
                  <div class="label">Place</div>
                  <span class="link">Czech Republic</span>
                </div>
              </div>
            </div>
          </div>
          <div class="o-form">
            <div class="a-form-alert"></div>
            <form action="#contact" method="post" id="contact-form">
              <input type="hidden" name="send" value="true">
              <div class="m-input-group">
                <input type="text" class="a-input incorrect" placeholder="Your name" name="name" autocomplete="name">
              </div>
              <div class="m-input-group">
                <input type="email" class="a-input" placeholder="E-mail" name="email" autocomplete="email">
              </div>
              <div class="m-input-group">
                <textarea class="a-textarea" placeholder="Message" rows="7" name="message"></textarea>
              </div>
              <div class="m-input-group">
                <button type="submit" class="a-submit">Send</button>
              </div>
            </form>
          </div>

          <h4>Not following us yet?</h4>
          <div class="m-socials">
            <a class="a-social" target="_blank" href="https://www.instagram.com/vafighters/"><i class="fa fa-instagram"></i></a>
            <a class="a-social" target="_blank" href="https://www.facebook.com/vafighters/"><i class="fa fa-facebook"></i></a>
            <a class="a-social" target="_blank" href="https://dribbble.com/vafighters/"><i class="fa fa-dribbble"></i></a>
            <a class="a-social" target="_blank" href="https://www.behance.net/vafighters/"><i class="fa fa-behance"></i></a>
          </div>

          <div class="copyright">Copyright© VA FIGHTERS 2018</div>

        </div>
      </div>
      <div class="a-bg-circle bg-circle-1"></div>
      <div class="a-bg-circle bg-circle-2"></div>
    </div>
  </div>
</footer>