<section class="s-1 u-landing-section landed">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 content">
        <h1>We create <span class="u-c-gray">digital</span> products<span class="u-c-primary">.</span></h1>
        <p>Full service agency focused on web development and mobile apps. We work with companies of all sizes.</p>
        <div class="a-circle arrow-d" id="work">
          <span class="label u-d-n u-d-lg-b">Projects</span>
        </div>
      </div>
      <div class="col-lg-6">
        <a class="o-tile card-os" href="">
          <div class="m-tile-header u-landing u-delay-3 landed">
            <div class="img1-container">
              <img src="../../../assets/image/graphics/cisnik-iphone-1.png" class="img1 u-landing landed u-delay-0">
            </div>
            <div class="img2-container">
              <img src="../../../assets/image/graphics/cisnik-iphone-2.png" class="img2 u-landing landed u-delay-0">
            </div>
            <div class="app-stores u-d-n u-d-md-b">
              <div class="a-app-store">
                <span><img src="../../../assets/image/google-play.png" alt="google play"></span>

              </div>
              <div class="a-app-store">
                <span><img src="../../../assets/image/app-store.png" alt="app store"></span>
              </div>
            </div>
          </div>
          <div class="m-tile-body u-landing u-delay-3 landed">
            <div class="row">
              <div class="col-sm-7">
                <h3>The Waiter<span class="u-c-primary">.</span></h3>
                <div class="development">Complete development</div>
                <div class="description">
                  Order food <strong>via our app</strong> in any restaurant
                </div>
              </div>
              <div class="col-sm-5 button">
                <div class="a-circle arrow-r">
                  <span class="label">detail</span>
                </div>
              </div>
            </div>
          </div>
          <div class="a-bg-circle circle1 red u-landing-2 u-delay-1 landed">
            <div class="shadow gradient"></div>
          </div>
          <div class="circle2-container">
            <div class="a-bg-circle circle2 green u-landing-2 u-delay-5 landed">
              <div class="shadow"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>