<section class="s-6 u-landing-section landed">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 u-landing landed">
        <h2>Our services are used by<span class="u-c-primary">.</span></h2>
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="a-client-logo"><img class="upstr" src="../../../assets/image/clients/upstr-logo-black.png" alt="Ústav pro studium totalitních režimů"><img class="hover upstr" src="../../../assets/image/clients/upstr-logo.png" alt="Ústav pro studium totalitních režimů"></div>
          </div>
          <div class="col-6 col-md-4">
            <div class="a-client-logo"><img class="edua" src="../../../assets/image/clients/edua-logo-black.png" alt="Edua Group"><img class="hover edua" src="../../../assets/image/clients/edua-logo.png" alt="Edua Group"></div>
          </div>
          <div class="col-6 col-md-4">
            <div class="a-client-logo"><img class="patria" src="../../../assets/image/clients/patria-logo-black.png" alt="Patria"><img class="hover patria" src="../../../assets/image/clients/patria-logo.png" alt="Patria"></div>
          </div>
          <div class="col-6 col-md-4">
            <div class="a-client-logo"><img class="awis" src="../../../assets/image/clients/awis-logo-black.png" alt="Awis"><img class="hover awis" src="../../../assets/image/clients/awis-logo.png" alt="Awis"></div>
          </div>
          <div class="col-6 col-md-4">
            <div class="a-client-logo"><img class="pp" src="../../../assets/image/clients/pp-logo-black.png" alt="PP Partners"><img class="hover pp" src="../../../assets/image/clients/pp-logo.png" alt="PP Partners"></div>
          </div>
          <div class="col-6 col-md-4">
            <div class="a-client-logo"><img class="pfi" src="../../../assets/image/clients/pfi-logo-black.png" alt="Prison Fellowship International"><img class="hover pfi" src="../../../assets/image/clients/pfi-logo.png" alt="Prison Fellowship International"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="a-bg-circle"></div>
  </div>
</section>