<app-hero></app-hero>

<app-work-masonry-card></app-work-masonry-card>
<app-testimonial></app-testimonial>

<section class="s-4 u-landing-section landed" id="about">
    <div class="container-fluid u-landing landed">
        <div class="row no-gutters">
            <div class="col-lg-6 photo">
                <img src="../../../assets/image/graphics/photo-about-us-sm.jpg" alt="our team" class="u-d-sm-n">
                <img src="../../../assets/image/graphics/photo-about-us-md.jpg" alt="our team" class="u-d-n u-d-sm-b u-d-lg-n">
                <img src="../../../assets/image/graphics/photo-about-us.jpg" alt="our team" class="u-d-n u-d-lg-b">
            </div>
            <div class="col-lg-6 content">
                <div class="o-content-box">
                    <h2>Get to know us<span class="u-c-primary">.</span></h2>
                    <p>We are a digital agency based in the Czech Republic focused on the web development and mobile apps. We offer entire solutions and full long-term technical support in these areas.</p>
                    <p>Our goal is always the same; present the best results, and that is why every new project is a challenge to us.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s-5 u-landing-section landed">
    <div class="container u-landing landed">
        <div class="row">
            <div class="col">
                <h2>What we do the best<span class="u-c-primary">.</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="m-ico-list-item u-delay-2">
                        <span class="a-ico">
                            <img src="../../../assets/image/tools.svg" alt="tools icon">
                        </span>
                    <span class="text">Design a Branding <sup>1</sup></span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="m-ico-list-item u-delay-3">
                        <span class="a-ico">
                            <img src="../../../assets/image/payment.svg" alt="payment method icon">
                        </span>
                    <span class="text">Mobile Apps <sup>2</sup></span>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="m-ico-list-item u-delay-4">
                        <span class="a-ico">
                            <img src="../../../assets/image/screen.svg" alt="screen icon">
                        </span>
                    <span class="text">Frontend / Backend development <sup>3</sup></span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="m-ico-list-item u-delay-5">
                        <span class="a-ico">
                            <img src="../../../assets/image/drawing.svg" alt="drawing icon">
                        </span>
                    <span class="text">Long-term technical support and administration <sup>4</sup></span>
                </div>
            </div>
        </div>
    </div>
    <div class="a-bg-circle"></div>
</section>

<section class="s-6 u-landing-section landed">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 u-landing landed">
                <h2>Our services are used by<span class="u-c-primary">.</span></h2>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="a-client-logo"><img class="upstr" src="../../../assets/image/clients/upstr-logo-black.png" alt="Ústav pro studium totalitních režimů"><img class="hover upstr" src="../../../assets/image/clients/upstr-logo.png" alt="Ústav pro studium totalitních režimů"></div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="a-client-logo"><img class="edua" src="../../../assets/image/clients/edua-logo-black.png" alt="Edua Group"><img class="hover edua" src="../../../assets/image/clients/edua-logo.png" alt="Edua Group"></div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="a-client-logo"><img class="patria" src="../../../assets/image/clients/patria-logo-black.png" alt="Patria"><img class="hover patria" src="../../../assets/image/clients/patria-logo.png" alt="Patria"></div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="a-client-logo"><img class="awis" src="../../../assets/image/clients/awis-logo-black.png" alt="Awis"><img class="hover awis" src="../../../assets/image/clients/awis-logo.png" alt="Awis"></div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="a-client-logo"><img class="pp" src="../../../assets/image/clients/pp-logo-black.png" alt="PP Partners"><img class="hover pp" src="../../../assets/image/clients/pp-logo.png" alt="PP Partners"></div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="a-client-logo"><img class="pfi" src="../../../assets/image/clients/pfi-logo-black.png" alt="Prison Fellowship International"><img class="hover pfi" src="../../../assets/image/clients/pfi-logo.png" alt="Prison Fellowship International"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="a-bg-circle"></div>
    </div>
</section>