<section class="s-4 u-landing-section landed" id="about">
  <div class="container-fluid u-landing landed">
    <div class="row no-gutters">
      <div class="col-lg-6 photo">
        <img src="../../../../assets/image/graphics/photo-about-us-sm.jpg" alt="our team" class="u-d-sm-n">
        <img src="../../../../assets/image/graphics/photo-about-us-md.jpg" alt="our team" class="u-d-n u-d-sm-b u-d-lg-n">
        <img src="../../../../assets/image/graphics/photo-about-us.jpg" alt="our team" class="u-d-n u-d-lg-b">
      </div>
      <div class="col-lg-6 content">
        <div class="o-content-box">
          <h2>Get to know us<span class="u-c-primary">.</span></h2>
          <p>We are a digital agency based in the Czech Republic focused on the web development and mobile apps. We offer entire solutions and full long-term technical support in these areas.</p>
          <p>Our goal is always the same; present the best results, and that is why every new project is a challenge to us.</p>
        </div>
      </div>
    </div>
  </div>
</section>