<header>
  <div class="app-header">
    <div class="row">
      <div class="container-fluid">
       <div class="wrap-nav">
         <div class="logo">
           <a href="" class="logo-img"><img src="../../../assets/image/logo.svg" alt=""></a>
           <span class="label">Pixelsvia</span>
         </div>
         <div class="navs">
           <ul>
             <li><a href=""><span>Work</span></a></li>
             <li><a href=""><span>About</span></a></li>
             <li><a href=""><span>Contact</span></a></li>
           </ul>
         </div>
       </div>
      </div>
    </div>
  </div>
</header>
